<h2>Cadastro de Categorias</h2>
<hr>
<p class="text-info">{{mensagem}}</p>
<form (submit)="cadastrar($event)">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input [(ngModel)]="categoria.nome" type="text" name="nome" id="nome" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input [(ngModel)]="categoria.descricao" type="text" name="descricao" id="descricao" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">
                Enviar
            </button>
        </div>
    </div>
</form>